contourpy
cycler
fonttools
h5py==3.11.0
importlib_resources
kiwisolver
mat73==0.65
matplotlib
mkl-fft
mkl-random
mkl-service==2.4.0
numpy
packaging
pillow
ply==3.11
pyparsing
PyQt5==5.15.10
PyQt5-sip
python-dateutil
sip
six
tomli
tornado
tqdm
unicodedata2
zipp